<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='academy/style.css', _external=True) }}">
</head>
<body>
	<div>
		Dear {{ user.name.split(' ')[0] }},
		You received this email because someone requested for a password reset on your {{web_data.name}} account.<br>
		If this wasn't you, please disregard this email. No further action is needed.<br><br>
		If this was you, you can reset your password in the {{web_data.name}} app or from our support website
		 by clicking the button below<br>
		<a href="{{ url_for('auth.validate_password_reset', username=user.username, token=token, _external=True) }}"><br>
			<center><button class="btn-like">Reset Password</button></center>
		</a> <br/>
		If this does not work, copy the link below and paste it in your browser address bar:
		{{ url_for('auth.validate_password_reset', username=user.username, token=token, _external=True) }}<br>
		Sincerely,<br/>
		The {{web_data.name}} Team.<br>
		Note: replies to this email address are not monitored.
	</div>
</body>
</html>