{% extends "base.html" %}
{% block title %}About Us{{ super()}}{% endblock %}


{% block page_content %}
    <div class="site-blocks-cover overlay" style="background-image: url('/static/pictures/images5.jpg');" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">

          
          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">welcome to {{web_dict.name}}</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">The right affiliated channel that honour every user with {{package_types[0].profit_percentage}} extra profit off all investing packages subscribed for...</p>
                <div data-aos="fade-up" data-aos-delay="100">
                </div>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">welcome to {{web_dict.name}}</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">...the best investment company to serve you with the fastest effortless financial growing knowledge stat</p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">welcome to {{web_dict.name}}</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">24/7 at your service for free!!</p>
              </div>

            </div>
          </div>
            
        </div>
      </div>

      <a href="#about-section" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>
    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">About Us</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">We honour our users with the opportunity to take advantage of the internet to turn our everyday social media activities into a toolbox for making passive income daily... for all users to stand a chance to secure their tomorrow financial status.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="/static/pictures/images4.jpg" alt=" " class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            
            <h3 class="text-black mb-4">We Solve Your Financial Problem</h3>

            <p>We are the most efficient and reliable investment company as we render our best services with our responsive platform for all media/entertainment, advertisement, real estate, all trading activities, investment method reasearches and many more.</p>

            <p>This is channelled towards the growth and development of our subscribers business as our major aim is to help create financial breakthrough for the masses and the less privileged near and far away.</p>
            
          </div>
        </div>    
        
      </div>  
    </div>
{%endblock%}