{% extends "base.html" %}
{% import '_macros.html' as macros%}
{% block title %}Post{{ super()}}{% endblock %}

{% block page_content %}
<br><br><br><br><br>
<style type="text/css">
	.comment-box{
		width: 50%;
		size: 50%
	}
	.comment-box .form .btn{
		border: 2px solid {{g_color.second}};
		color: {{g_color.second}};
	}
</style>
<div style="padding: 20px;">
	<!-- Post -->
	{% include '_posts.html' %}
	<div style="padding-left: 0px;">
	{{macros.list_comments(comments, current_user, moment, web_data.themes)}}
	</div>
	<!-- Pagination -->
	{% if pagination %}
	{{macros.pagination_widget(pagination, 'comments', id = posts[0].id) }}
	{% endif %}
	<!--Comment Box-->
	<center>
		<div id="comment-box" class="comment-box" align="center">
			{{ wtf.quick_form(form)}}
		</div>
	</center>
</div>
{% endblock %}